/* $mint : #1d9a8d; */

#logo {
    max-width: 350px;
}

.title {
    width: 97%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eff0f4;
    border-radius: 5px/5px;
    text-align: center;
    font-size: 1.6rem;
    color: #5a5656;
    border-bottom-style: outset;
    border-bottom-color: grey;
}

#myBooks {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 4.5px 7.5px;
    margin-bottom: 1.3rem;
    border: 0.1125rem solid #1d9a8d;
    width: 45%;
    max-width: 125px;
    color: #fff;
    background: #1d9a8d;
    font-size: 0.9rem;
    font-weight: bolder;
    letter-spacing: auto;
    display: block;
    cursor: pointer;
    border-radius: 10rem;
    transition: transform 300ms;
}

.btn:hover {
    background: #ccfffa;
    color: #1d9a8d;
    box-shadow: 0 0 0.3em #1d9a8d;
    transform: scale(1.05);
}

.btn--cancel {
    background: #c94754;
    color: #fff;
    border: 0.1125rem solid #a09597;
    transition: 0.3s;
}

.btn--cancel:hover {
    color: #c94754;
    background: #ffccd1;
}

#form_container {
    display: none;
}

.form_container_visible {
    display: flex;
    flex-direction: column;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.form {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.245rem;
    font-size: 1rem;
}

.form__field {
    margin-bottom: 1rem;
    font-size: inherit;
}

.form__field label {
    font-size: inherit;
    display: block;
    margin-bottom: 0.7rem;
}

.form__field input {
    font-size: inherit;
    padding: 1.5px;
    width: 100%;
    box-sizing: border-box;
    border: 0.075rem solid #1d1b1b;
    border-radius: 5px/5px;
}

.form__field input:focus {
    background-color: #cad3f8;
    border: #1a89d3;
}

#books_content {
    display: none;
    border: 2px solid;
}

.book-prev {
    border: 1px solid rgba(238, 238, 238, 0.699);
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.699);
    color: #fff;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}