.form {
    width: map-get($width-size, defaultSize);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.245rem;
    font-size: 1rem;
    &__field {
        margin-bottom: 1rem;
        font-size: inherit;
    }
    &__field label {
        font-size: inherit;
        display: block;
        margin-bottom: 0.7rem;
    }
    &__field input {
        font-size: inherit;
        padding: 1.5px;
        width: 100%;
        box-sizing: border-box;
        border: 0.075rem solid $color-primary;
        border-radius: 5px/5px;
        &:focus {
            background-color: $backgroung-default;
            border: 0.25rem solid $background-primary-hover;
            outline: $background-primary-hover;
        }
    }
}