.form {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.245rem;
    font-size: 1rem;
    &__field {
        margin-bottom: 1rem;
        font-size: inherit;
    }
    &__field label {
        font-size: inherit;
        display: block;
        margin-bottom: 0.7rem;
    }
    &__field input {
        font-size: inherit;
        padding: 1.5px;
        width: 100%;
        box-sizing: border-box;
        border: 0.075rem solid #1d1b1b;
        border-radius: 5px/5px;
        &:focus {
            background-color: #cad3f8;
            border: #1a89d3;
        }
    }
}